body {
    margin: 0;
}

nav ul {
    display: flex;
}

nav li {
    margin: 5px;
    padding: 10px;
    list-style-type: none;
    background-color: gray;
}

nav li:hover {
    background-color: red;
}

nav li a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    margin: 5px 0;
    padding: 0;
}


nav li:hover ul {
    display: block;
}